@model Order
<h1>@ViewData["Title"]</h1>
<p>@TempData["Message"]</p>
<form asp-action="Edit" asp-controller="Order" method="post">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Status"></label>
        <div>
            <span class="text-danger" asp-validation-for="Status"></span>
        </div>
        <input class="form-control" type="text" asp-for="Status" />
    </div>
    <div class="form-group">
        <label asp-for="ProductId"></label>
        <div>
            <span class="text-danger" asp-validation-for="ProductId"></span>
        </div>
        <input class="form-control" type="text" asp-for="ProductId" />
    </div>
    <button class="btn btn-success" type="submit" asp-action="Edit">@ViewData["AddOrEditButton"]</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>